<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        h4{
            text-align: center;
            color: red;
        }
        .center{
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <h1 class="center">
            This is Lorem Bhai
        </h1>
        <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas illo odit quasi dolor natus in. Pariatur
            amet
            facilis recusandae commodi nesciunt harum id sunt, perferendis voluptate dolor vero sint! Repellat?</h4>
    </div>
</body>

</html>