<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            text-align: center;
            color: green;
        }
        h3{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>
        Skills of Lorem 
    </h1>
    <h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, tenetur itaque! Possimus repudiandae earum animi molestiae ea nisi expedita modi, nobis asperiores exercitationem neque veniam numquam esse quod dolore facere.
    </h3>
</body>
</html>