<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div>
            <form action="/add-student" method="post">
                <h1>Student Details</h1>
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="student name">
                </div>
                <br>
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="student email">
                </div>
                <br>
                <div>
                    <label for="age">Age</label>
                    <input type="number" id="age" name="age" placeholder="student age">
                </div>
                <br>
                <div>
                    <label for="city">city</label>
                    <select name="city" id="city">
                        <option value="">please select city</option>
                        <option value="1">surat</option>
                        <option value="2">rajkot</option>
                        <option value="3">jamnagar</option>
                        <option value="4">ghandhinagar</option>
                    </select>
                </div>
                <br>
                <div>
                    <button >submit</button>
                </div>

            </form>
        </div>
    </section>
</body>

</html>